@page
@model IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <environment exclude="Production">
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
        </script>
    </environment>

    <environment include="Production">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110408242-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() { dataLayer.push(arguments); }

            gtag('js', new Date());

            gtag('config', 'UA-110408242-1');
        </script>
    </environment>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>Sitecore Release Notes</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open%20Sans">

    <style>
        [v-cloak] {
            display: none;
        }
    </style>

    <script async src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>
<body>

    <div id="app" v-cloak>

        <div class="row z-depth-2 valign-wrapper header">
            <div class="col s12">
                <div class="row">
                    <div class="col s12 center-align white-text">
                        <h1>Sitecore Release Notes</h1>
                        <div>
                            <a href="https://blog.krusen.dk" title="Blog"><i class="fas fa-globe"></i></a>
                            <a href="https://github.com/Krusen" title="GitHub"><i class="fab fa-github"></i></a>
                            <a href="https://twitter.com/sorenkrusen" title="Twitter"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/krusenen" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <transition appear name="slide">
                    <div class="row">
                        <div class="input-field col s8 m7 offset-m2 l5 offset-l3 white-text">
                            <i class="material-icons prefix">search</i>
                            <input type="text" v-model.trim="query" @@keyup.enter="search" placeholder="Search for issue numbers etc." />
                            <div class="progress-bar" v-show="searching" v-cloak>
                                <div class="progress">
                                    <div class="indeterminate"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col s1">
                            <button class="waves-effect btn white grey-text text-darken-3 button-search" @@click="search" :disabled="searching">Search</button>
                        </div>
                    </div>
                </transition>
            </div>
        </div>

        <div class="container">
            <transition name="slide">
                <div class="row" v-show="!searching">
                    <div class="col s12 xl10 offset-xl1">
                        <div class="card" v-for="item in results" :key="item.sortableVersion">
                            <div class="card-content">
                                <span class="card-title">
                                    <a class="black-text" :href="item.releaseNotesUrl">
                                        {{ item.title }}
                                    </a>
                                </span>
                                <span class="card-sub-title grey-text">
                                    {{ item.sortableVersion }}
                                </span>
                                <ul class="browser-default">
                                    <li v-for="content in item.content" v-html="content"></li>
                                </ul>
                            </div>
                            <div class="card-action right-align">
                                <div class="right-align">
                                    <span class="left issue-numbers">
                                        <i class="material-icons teal-text">check</i>
                                        <b>{{item.issueNumbers.length}}</b> issue numbers resolved
                                    </span>
                                    <a class="waves-effect waves-light btn-flat blue-grey-text release-page" :href="'https://dev.sitecore.net' + item.releaseUrl">
                                        Release Page
                                    </a>
                                    <a class="waves-effect waves-light btn release-notes" :href="item.releaseNotesUrl">
                                        Release Notes
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
    </div>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize/dist/materialize.min.js"></script>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material"></script>
    <script src="https://unpkg.com/vue-router"></script>
    <script src="https://unpkg.com/vue-resource@1.2.1/dist/vue-resource.min.js"></script>

    <script src="/js/script.js"></script>
</body>
</html>
